extends ../w-layout/w-layout
include ../w-dialog/w-dialog
include ../w-header/w-header
include ../w-videoFooter/w-videoFooter
include ../w-adFooter/w-adFooter
include ../w-videoList/w-videoList

block head
    link(rel="stylesheet", href="./p-play.scss", type="text/css")

block body
    // + body here
    +w-header()
    
    .container.video-list
        ul
            li.video-list__item
                video#videoDemo(
                    tabindex="0" 
                    class="player" 
                    webkit-playsinline="" 
                    playsinline="" 
                    x-webkit-airplay="allow" 
                    controlslist="nodownload" 
                    title="demo!" 
                    controls="true" 
                    poster="https://i.ytimg.com/vi/FE9PszSPfKo/hqdefault.jpg?sqp=-oaymwEcCPYBEIoBSFXyq4qpAw4IARUAAIpCGAFwAYABAQ==&rs=AOn4CLCDUbHYkLNIelldGDFBRutMTP52Iw" 
                    src="http://godsong.bs2dl.yy.com/djdmMjU2YTI5Mzg3ZTUzMTNiN2E3YWFjNjRkYzk3NmY3MTkxODc2ODA2MjdtYg"
                )
                div.video-detail
                    +w-videoFooter-header()
                    .video-detail__footer
                        +w-videoFooter-owner-label()
                        .video-detail__control
                            span.video-detail__control__likeBtn
                                i.icon
                                i.hot 98k
                            span.video-detail__control__shareBtn
                                i.icon
                                i.hot 1k
                    .video-detail__moreInfo
                        span.video-detail__moreInfo__date
                            | UpLoad at 2019.02.22
                        p
                            | town sent to the new female village officials du xiaoshuang and liu yishui assume the construction of a new ecological farm task, two people all the way to bump, from love each other has been to buchibuqi.Liu neng, zhao si and xie guangkun et al., in the process of constructing the new ecological farm, from forming cliques and conceit to forming a group to support the construction of the new farm.Song xiaofeng in order to marry song qinglian, actively strive to earn song fugui asked the bride price
                        p
                            | finally moved song fugui, and song qinglian married.As a result of sweet show and divorce of li guoguo, oneself and huang shiyou are apart let xie bigfoot suffer blow, full day is in a daze long expensive longing
                div.video-recommend
                    ul
                        li.video-recommend__item(data-videoUrl="http://godsong.bs2dl.yy.com/djdmMjU2YTI5Mzg3ZTUzMTNiN2E3YWFjNjRkYzk3NmY3MTkxODc0Nzg0N21i", data-poster="https://i.ytimg.com/vi/OMNKHe72_Js/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLBdXd1d42kKZSEWZt-uhlDY39LQbg")
                            img(src="https://i.ytimg.com/vi/VqKsBoNj5X4/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLCQ1nqIr9EYIWmSCeSZ8PuSdgCv_w")
                            span.video-recommend__footer
                                | 这是信息描述
                            .video-recommend__item__cover
                        li.video-recommend__item
                            .video-recommend__item__child(data-videoUrl="http://godsong.bs2dl.yy.com/djdmMjU2YTI5Mzg3ZTUzMTNiN2E3YWFjNjRkYzk3NmY3MTkxODc0Nzg0N21i", data-poster="https://i.ytimg.com/vi/OMNKHe72_Js/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLBdXd1d42kKZSEWZt-uhlDY39LQbg")
                                img(src="https://i.ytimg.com/vi/OxoOSohmaag/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLAHE-0rt9VbV7igFH07incWRUfRYw")
                                span.video-recommend__footer
                                    | 这是信息描述
                                .video-recommend__item__cover
                            .video-recommend__item__child(data-videoUrl="http://godsong.bs2dl.yy.com/djdmMjU2YTI5Mzg3ZTUzMTNiN2E3YWFjNjRkYzk3NmY3MTkxODc0Nzg0N21i", data-poster="https://i.ytimg.com/vi/OMNKHe72_Js/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLBdXd1d42kKZSEWZt-uhlDY39LQbg")
                                img(src="https://i.ytimg.com/vi/5bm7O372g7U/hqdefault.jpg?sqp=-oaymwEbCNIBEHZIVfKriqkDDggBFQAAikIYAXABgAEB&rs=AOn4CLDAfNMktiOtQB9jSYwQ9P3Y3mtb4w")
                                span.video-recommend__footer
                                    | 这是信息描述
                                .video-recommend__item__cover
    .rec-header
        | you my also like
    +w-videoList()
    +w-dialog()
    // - body here


append script
    script(src="{$jsDest}/ventors.js")
    script(src="../../js/lib/requirejs/require.js", data-main="./p-play.js")
    